<div class="block">
    <div class="row">
        <div class="col-auto">
            <h2>Welcome, {{name}}!</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Add New Stats</h3>

            <form class="form new-stats-form">
                <div class="form-group">
                    <div class="form-group">
                        <label for="game-name">Game:</label>
                        <select class="form-input" id="game-name" name="game-name">
                            <option value="None">Choose Game</option>
                            <option value="Apex">Apex</option>
                            <option value="Fortnite">Fortnite</option>
                            <option value="Hyperscape">Hyperscape</option>
                        </select>
                    </div>

                    {{!-- Suggest display data based on game type vs game title --}}
                    
                    <div id="showApex" style="display: none;">
                        {{> apex}}
                    </div>
                    <div id="showFortnite" style="display: none;">
                        {{> fortnite}}
                    </div>
                    <div id="showHyperscape" style="display: none;">
                        {{> hyperscape}}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
            </form>
        </div>
    </div>

    {{#if battleRs.length}}
    <div class="statz col-md-6 stats-list">
        <h3>Current Stats:</h3>

<<<<<<< HEAD
        {{#each battles as |battler|}}
        <div class="row mb-2">
            <div class="col-md-8">
<<<<<<< HEAD
<<<<<<< HEAD
                <h4><a href="/battle-royale/">Kills: {{battle.kills}}</a></h4>
=======
                <h4><a href="/battle-royale/">Kills: {{battler.kills}}</a></h4>
>>>>>>> main
=======
        {{#each battleRs as |battle|}}
        <div class="battle-r-block row mb-2">
            <div class="col-md-4">
                <h4><a href="/battle-royale/">Date: {{format_date date_created}}</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a href="/battle-royale/">Game: {{battle.game_name}}</a></h4>
>>>>>>> main
            </div>
            <div class="col-md-4">
                <h4><a href="/battle-royale/">Kills: {{battle.kills}}</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a href="/battle-royale/">Wins: {{battle.wins}}</a></h4>
            </div>
            <div class="col-md-4">
                <h4><a href="/battle-royale/">Matches Played: {{battle.matches_played}}</a></h4>
            </div>
            <div class="col-md-4">
<<<<<<< HEAD
<<<<<<< HEAD
                <button class="btn btn-sm btn-danger" data-id="{{battle.id}}">DELETE</button>
=======
                <h4><a href="/players/{{player.id}}">{{player.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
>>>>>>> parent of ded90ec (login functioning)
=======
                <button class="btn btn-sm btn-danger" data-id="{{battler.id}}">DELETE</button>
>>>>>>> main
=======
                <button class="btn btn-sm btn-danger" data-id="{{battle.id}}">DELETE</button>
>>>>>>> main
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/profile.js"></script>