<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Add New Stats</h3>

        <form class="form new-stats-form">
            <div class="form-group">
                <div class="form-group">
                    <label for="game-name">Game:</label>
                    <select class="form-input" id="game-name" name="game-name">
                        <option value="Apex">Apex</option>
                        <option value="Fortnite">Fortnite</option>
                        <option value="Hyperscape">Hyperscape</option>
                    </select>
                </div>
                {{#if BattleR}}
                {{> battle-r-profile}}
                {{else}}
                <div class="form-group">
                    <label for="Kills">Kills:</label>
                    <input class="form-input" type="number" id="kills" name="wins" />
                </div>
                <div class="form-group">
                    <label for="wins">Wins:</label>
                    <input class="form-input" type="number" id="wins" name="wins" />
                </div>
                <div class="form-group">
                    <label for="matches-played">Matches Played:</label>
                    <input class="form-input" type="number" id="matches-played" name="matches-played" />
                </div>
                {{/if}}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
        </form>
    </div>

    {{#if battles.length}}
    <div class="col-md-6 stats-list">
        <h3>Current Stats:</h3>

        {{#each battles as |battler|}}
        <div class="row mb-2">
            <div class="col-md-8">
<<<<<<< HEAD
                <h4><a href="/battle-royale/">Kills: {{battle.kills}}</a></h4>
            </div>
            <div class="col-md-8">
                <h4><a href="/battle-royale/">Wins: {{battle.wins}}</a></h4>
            </div>
            <div class="col-md-8">
                <h4><a href="/battle-royale/">Matches Played{{battle.matches_played}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{battle.id}}">DELETE</button>
=======
                <h4><a href="/players/{{player.id}}">{{player.name}}</a></h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
>>>>>>> parent of ded90ec (login functioning)
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="./js/profile.js"></script>