<div class="block">
    <div class="row">
        <div class="col-auto">
            <h2>Welcome, {{name}}!</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Add New Stats</h3>

            <form class="form new-stats-form">
                <div class="form-group">
                    <div class="form-group">
                        <label for="game-name">Game:</label>
                        <select class="form-input" id="game-name" name="game-name">
                            <option value="None">Choose Game</option>
                            <option value="Apex">Apex</option>
                            <option value="Fortnite">Fortnite</option>
                            <option value="Hyperscape">Hyperscape</option>
                        </select>
                    </div>
                    {{!-- Suggest display data based on game type vs game title --}}
                    
                    <div id="showApex" style="display: none;">
                        {{> apex}}
                    </div>
                    <div id="showFortnite" style="display: none;">
                        {{> fortnite}}
                    </div>
                    <div id="showHyperscape" style="display: none;">
                        {{> hyperscape}}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
            </form>
        </div>
    </div>

    {{#if battleRs.length}}
    <div class="battle-r-statz col-md-6 stats-list">
        <h3>Stats:</h3>

        {{#each battleRs as |battle|}}
        <div class="battle-r-block row mb-2">
            <div class="col-md-4">
                <h4>Date: {{format_date date_created}}</h4>
            </div>
            <div class="col-md-4">
                <h4>Game: {{battle.game_name}}</h4>
            </div>
            <div class="col-md-4">
                <h4>Kills: {{battle.kills}}</h4>
            </div>
            <div class="col-md-4">
                <h4>Wins: {{battle.wins}}</h4>
            </div>
            <div class="col-md-4">
                <h4>Matches Played: {{battle.matches_played}}</h4>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-danger" data-id="{{battle.id}}">DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}

    {{!-- 5v5 splitgate: kills, deaths, assists, kd  --}}

</div>

<script src="./js/profile.js"></script>